@use 'sass:math';

@function rem($pixels, $context: 16) {
  @return math.div($pixels, $context) * 1rem;
}

.banner {
  width: 100%;

  img {
    width: 100%;
    height: rem(270); // Convertido para rem
    border-radius: rem(12); // Convertido
  }
}
