@use 'variables' as *;
@use 'sass:math';

// Função para converter px para rem.
@function rem($pixels, $context: 16) {
  @return math.div($pixels, $context) * 1rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: $second-color;
  font-size: rem(18);
  width: 100%;
  height: rem(60);

  // O seletor foi atualizado de 'p' para 'small' para corresponder ao novo HTML.
  small {
    text-align: center;
    color: $text-light;
  }
}
