@use 'variables' as *;

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  height: auto;
  min-height: 100vh;
  background-color: $bg-body-color;

main {
  flex: 1;
  // Opcional: Adicione um pouco de padding para o conteúdo não colar no header/footer
  padding: 16px 0;
}

}



