<div class="detalhe-container">
  <div class="card-detalhe">
    <div class="imagem-container">
      <img
      *ngIf="brinquedoDetalhe?.imagem"
      [src]="brinquedoDetalhe.imagem" [alt]="brinquedoDetalhe.descricao" />
    </div>

    <div class="info-container" *ngIf="brinquedoDetalhe">
      <h1 class="titulo">{{ brinquedoDetalhe.descricao }}</h1>
      <p class="marca">{{ brinquedoDetalhe.marca }}</p>
      <p class="detalhes">{{ brinquedoDetalhe.detalhes }}</p>

      <div class="info-extra">
        <span class="categoria">Categoria: {{ brinquedoDetalhe.categoria }}</span>
        <span class="codigo">Código: {{ brinquedoDetalhe.codigo }}</span>
        <span class="vendas">Vendas: {{ brinquedoDetalhe.quantVendas }}</span>
      </div>

      <div class="valor-compra">
        <span class="preco">R$ {{ brinquedoDetalhe.valor | number:'1.2-2' }}</span>
        <button class="btn-comprar" routerLink="/catalogo">Categorias</button>
      </div>
    </div>
  </div>
</div>

