<nav class="menu">
  <ul class="menu__lista">
    <li class="menu__lista-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="menu__lista-item">
      <a routerLink="/catalogo">Catálogo</a>
    </li>
    <li class="menu__lista-item">
      <a routerLink="/sobre">Equipe</a>
    </li>
    @if (isLoggedIn()) {
      <li class="menu__lista-item">
        <a routerLink="/admin" >Administração</a>
      </li>
    } @else {
      <li class="menu__lista-item">
        <a routerLink="/login">Administração</a>
      </li>
    }
  </ul>
</nav>
