@use 'variables' as *;

.catalog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 80%;

  &__card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    gap: 32px;

  }

  h2{
    font-size: 30px;
  }

  &__filtered-view{
    display: flex;
    flex-direction: column;
    gap: 32px;



  }

  &__card-category {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    padding: 16px;

  }

  button{
    background: $primary-color;
    color: $text-light;
    margin: auto;
    font-size: 1rem;
    min-height: 60px;
    min-width: 230px;
    font-weight: bold;
    max-width: 120px;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: rgba($primary-color, 0.9); // Ou ajuste a opacidade
      transform: scale(1.05);
    }



  }




}
