@use 'variables' as *;

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 54%;

  &__card {
    display: flex; // categorias continuam flex
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  h2 {
    font-size: 1.875rem; // 30px
    margin: 1rem;
  }

  &__card-category {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // fixo em telas grandes
    gap: 1.5rem; // espaçamento grande para desktop
    padding: 0 1rem;
    width: 100%;
    justify-items: center; // centraliza os cards dentro das colunas
  }

  .back-button {
    background: $primary-color;
    color: $text-light;
    margin: auto;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: rgba($primary-color, 0.9);
      transform: scale(1.05);
    }
  }
}

// telas médias (ex: tablets e notebooks menores)
@media (max-width: 1300px) {
  .catalog {
    width: 100%;

    &__filtered-view {
      gap: 0.5rem;
      width: 100%;
    }

    &__card-category {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 1rem; // reduz espaço entre os cards
      margin-bottom: 1rem;
      justify-items: center; // garante centralização
    }
  }
}

// telas pequenas (celulares)
@media (max-width: 768px) {
  .catalog {
    // Removemos o padding daqui para não afetar outras telas
    width: 100%;

    &__card-category {
      // Trocamos Grid por Flexbox para ter mais controle no mobile
      display: flex;
      flex-wrap: wrap; // Permite que os itens quebrem para a próxima linha
      justify-content: center; // Centraliza os cards horizontalmente no contêiner
      gap: 1rem; // Espaçamento entre os cards
      padding: 0 1rem; // Adiciona o padding aqui, no contêiner direto dos cards
    }
  }
}
