<section class="catalog">
  @if (!selectedCategory()) {
    <h2>Catálogo</h2>
    <div class="catalog__card">
      @for (category of categoria$ | async; track $index) {
        <app-fbc-category
          [categoria]="category"
          (categoryClicked)="onCategorySelected($event)">
        </app-fbc-category>
      }
    </div>
  } @else {
    <div class="catalog__filtered-view">
      <button class="back-button" (click)="goBackToCategories()">
        <i class="fas fa-arrow-left"></i> <!-- Exemplo de ícone -->
      </button>
      <header class="filtered-view__header">
        <h2>{{ selectedCategory() }}</h2>
      </header>

      <div class="catalog__card-category">
        @for(brinquedo of brinquedosFiltrados$ | async; track brinquedo.id){
          <app-fbc-card [brinquedo]="brinquedo"></app-fbc-card>
        }
      </div>

    </div>
  }
</section>
