@use 'variables' as *;
@use 'sass:math';

@function rem($pixels, $context: 16) {
  @return math.div($pixels, $context) * 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: rem(10);
  height: auto;
  width: 70%;
  gap: rem(1);

  &__imagem {
    margin: auto;
    width: 80%;
    height: rem(270);
  }

  // Seletor para a nova seção semântica
  &__bestsellers {
    display: contents; // Garante que a <section> não interfira no layout flex

  }

  &__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(8);
  }

  img {
    margin: auto;
    width: 100%;
    border-radius: rem(10);
    box-shadow: 0 rem(4) rem(6) rem(-2) rgba(0, 0, 0, 0.4);
  }

  // Alterado para h1 para corresponder à mudança semântica
  h2 {
    text-align: center;
    margin: 2rem;
  }

  @media (max-width: 1450px) {
    &__imagem {
      width: 100%;
      height: rem(250);
    }
  }

  @media (max-width: 950px) {
    width: 100%;
  }
}

// Correção da media query aninhada para funcionar como esperado
@media (max-width: 950px) {
  .home {
    width: 100%;


    &__card {
        gap: rem(8);
      }

  }
}
