<div class="usuario-container">

  <div class="usuario">
    <div class="foto-wrapper">
      <img
      *ngIf="equipe?.userImagem"
      [src]="equipe.userImagem" [alt]="equipe.nome + ' ' + equipe.sobrenome" />
    </div>
    <p class="nome">{{ equipe.nome }} {{ equipe.sobrenome }}</p>
    <div class="links">
      <a [href]="equipe.userLinkedin" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a [href]="equipe.userGitHub" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</div>


