// -------------------------
// Paleta de cores
// -------------------------

// Cores principais
$bg-body-color: #EBEBEB; // Fundo de páginas e seções
$nav-menu-color: #E4E4E4;
$primary-color: #60A5FA; // Azul do topo e botões principais
$second-color: #2F6BB4; // Final de pagina e tabelas

// Cores card
$bg-card: #FFFDFD; // Fundo do card
$border-card-color: #E1E1E1; // borda do card
$fontcard: 'Baloo 2', sans-serif; // font do card


//cores adm
$adm-bg-color: #F3F3F3;


$accent-color: #f8c300; // Destaques e elementos chamativos
$danger-color: #e74c3c; // Botões de deletar ou alerta
$success-color: #2ecc71; // Botões de confirmar ou sucesso
$warning-color: #f1c40f; // Alertas

// Texto
$text-primary: #333333;
$text-secondary: #777777;
$text-light: #ffffff;

// Fundo
$bg-light: #f5f5f5;
$bg-dark: #1a1a1a;
