<main class="admin-page">
  <h1 class="admin-page__title">Administração</h1>

  <!-- O componente pai passa os dados e escuta os eventos -->
  <app-fbc-admin-list
    [brinquedos]="(paginatedBrinquedos$ | async)"
    [isLoading]="!(brinquedos$ | async)"
    (edit)="handleEdit($event)"
    (remove)="handleRemove($event)">
  </app-fbc-admin-list>

  <!-- Paginador -->
  <mat-paginator
    [length]="(brinquedos$ | async)?.length || 0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>


  <button href="#" class="btn btn--primary">Novo Brinquedo</button>

</main>
