<main class="admin-page">
  <ng-container *ngIf="view === 'list'; else formTpl">
    <h2 class="admin-page__title">Administração</h2>

    <app-fbc-admin-list
      [brinquedos]="(paginatedBrinquedos$ | async)"
      [isLoading]="!(brinquedos$ | async)"
      (edit)="handleEdit($event)"
      (remove)="handleRemove($event)">
    </app-fbc-admin-list>

    <mat-paginator
      [length]="(brinquedos$ | async)?.length || 0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)">
    </mat-paginator>

    <button class="btn btn--primary" (click)="newToy()">Novo Brinquedo</button>
  </ng-container>

  <ng-template #formTpl>
    <app-fbc-form
      [mode]="formMode"
      [toy]="currentToy"
      (save)="onSave($event)"
      (cancel)="onCancelForm()">
    </app-fbc-form>
  </ng-template>
</main>
